@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

*{
    font-family: monospace, "Courier New", "Rubik Doodle Shadow";
    font-size: 20px;
    background: pink;
}