@import url("./global.css");

@font-face {
    font-family: Roboto;
    src: local(), url("../fonts/Roboto/Roboto-Black.ttf");
    font-weight: bold;
    font-stretch: condensed;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-stretch: expanded;
    font-style: oblique;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
    font-weight: thin;
    font-stretch: narrower;
    font-style: normal;
}

p{
    font-family: "Rubik Broken Fax", Roboto, monospace, "Courier New", "Rubik Doodle Shadow";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

h1{
    font-family: Roboto;
    font-weight: bold;
}

li{
    font-family: Roboto;
    font-size: 30px;
    font-weight: thin;
}